.main {
  padding-top: $topBarHeight;
  padding-left: $sidebarWidth;
  min-height: 100dvh;
  @media (max-width: 768px) {
    padding-left: 0;
  }
  background-color: $background;
}

.content {
  padding: rem(56px);

  @media (max-width: 768px) {
    padding: rem(40px);
  }

  @media (max-width: 600px) {
    padding: rem(32px);
  }

  @media (max-width: 425px) {
    padding: rem(25px);
  }
}
