.main {
  padding-top: $topBarHeight;
  padding-left: $sidebarWidth;
  position: relative;
  @media (max-width: 768px) {
    padding-left: 0;
  }
}

.content {
  padding: rem(56px);
  background-color: $background;

  @media (max-width: 768px) {
    padding: rem(40px);
  }

  @media (max-width: 600px) {
    padding: rem(32px);
  }

  @media (max-width: 425px) {
    padding: rem(25px);
  }
}
