// colors
$primary: #213f7d;
$accent: #39cdcc;
$gray: #545f7d;
$error: #e4033b;
$background: #fbfbfb;
$border-color: #e5e5e5;

// typography
$avenirNext: var(--font-avenirNext);
$workSans: var(--font-workSans);

// functions
@function rem($pxValue) {
  @return calc($pxValue / 16px) * 1rem;
}

// layout
$topBarHeight: rem(85px);
$sidebarWidth: rem(280px);

// mixins
@mixin flex($direction: row, $justify: flex-start, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
}
